body {
  font-family: "Poppins-Light", sans-serif;
  font-size: 14px; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2 {
  font-family: "PlayfairDisplay-Bold", sans-serif; }

a {
  text-decoration: none; }

/*GRID VIEW*/
[class*="col-"] {
  float: left;
  /*padding: 15px;*/
  /*border: 1px solid red;*/ }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*FONTS*/
@font-face {
  font-family: "LeagueSpartan-Bold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/LeagueSpartan-Bold.otf") format("opentype"); }

@font-face {
  font-family: "Poppins-Light";
  font-style: normal;
  src: url("../fonts/Poppins-Light.ttf") format("truetype"); }

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"); }

.hero {
  position: relative;
  padding-top: 40px; }

/*HEADER*/
.header {
  position: relative;
  margin-bottom: 40px; }

/*logo*/
.header-logo {
  position: absolute;
  top: -10px; }

/*nav*/
.nav {
  font-family: 'LeagueSpartan-Bold', sans-serif;
  font-size: 9px;
  margin-left: 16.66%; }
  .nav-item {
    color: #000000;
    letter-spacing: 5px; }

/*ASIDE*/
.hero-aside-text {
  font-family: 'LeagueSpartan-Bold', sans-serif;
  font-size: 9px;
  color: #0b0c11;
  letter-spacing: 4px;
  opacity: 0.2;
  transform: rotate(-90deg);
  transform-origin: right;
  position: absolute;
  top: 0;
  right: 0; }

.hero-aside-socials {
  position: absolute;
  bottom: 0;
  right: -15px; }

/*hero-aside-social*/
.hero-aside-socials_item .tum {
  background-image: url("../img/tum-icon.png"); }

.hero-aside-socials_item .tw {
  background-image: url("../img/tw-icon.png"); }

.hero-aside-socials_item .vi {
  background-image: url("../img/vi-icon.png"); }

.hero-aside-socials_item {
  list-style: none; }
  .hero-aside-socials_item a {
    background: no-repeat center center;
    width: 30px;
    height: 30px;
    display: block; }

/*BANNER*/
.banner-text {
  z-index: 2;
  position: absolute;
  top: 250px; }
  .banner-text_up, .quote-text, .shop-title_text {
    color: #5da8ef;
    letter-spacing: 5px;
    font-size: 9px;
    font-family: 'LeagueSpartan-Bold', sans-serif; }
  .banner-text_title {
    font-size: 62px;
    text-shadow: 1px 1px 40px rgba(0, 0, 0, 0.4); }

.banner-photo {
  float: right; }
  .banner-photo_item {
    box-shadow: -20px 14px 60px 3px rgba(0, 0, 0, 0.4); }

.banner-photo_item {
  width: 100%; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .hero-aside-text, .hero-aside-socials {
    display: none; }
  .nav-item {
    letter-spacing: 0; }
  .banner-photo_item {
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.4); }
  .banner-text {
    top: 80px; }
    .banner-text_title {
      font-size: 22px; }
    .banner-text_main {
      font-size: 9px; } }

@media only screen and (min-width: 768px) and (max-width: 922px) {
  .hero-aside-text, .hero-aside-socials {
    display: none; } }

.quote {
  text-align: center;
  padding: 100px 0; }
  .quote-title {
    margin-bottom: 15px;
    font-family: "PlayfairDisplay-Regular", sans-serif;
    font-size: 26px; }
  .quote-text {
    margin-top: 10px;
    color: #333; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .quote {
    padding: 40px 0; }
    .quote-title {
      font-size: 18px; }
    .quote-text {
      font-size: 9px; } }

.media {
  position: relative;
  /*photo*/
  /*video*/
  /*text*/
  /*hidden text*/ }
  .media-photo_img {
    width: 100%; }
  .media-video {
    float: right;
    margin-top: -430px; }
    .media-video_img {
      width: 100%;
      height: 100%; }
  .media-text {
    margin: 30px 85px; }
    .media-text_button, .shop-button_item, .article-button, .contact-button {
      margin-top: 30px;
      border: none;
      border-bottom: 1px solid #8DC2F3;
      background-color: initial;
      letter-spacing: 4px;
      font-weight: 800;
      font-size: 9px; }
  .media-hidden_text {
    display: none; }

@media only screen and (max-width: 767px) {
  .media-video {
    width: 100%;
    margin: 0;
    float: none; }
  .media-photo {
    width: 100%; }
  .media-text {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    float: none;
    font-size: 14px; }
    .media-text_button, .shop-button_item, .article-button, .contact-button {
      margin: 0; } }

@media only screen and (min-width: 768px) and (max-width: 922px) {
  .media-text {
    margin: 0 70px 0 0; }
    .media-text_button, .shop-button_item, .article-button, .contact-button {
      margin: 0; }
  .media-video {
    margin-top: -330px; } }

.shop {
  padding: 100px 0;
  background-image: url(../img/shop-back2.png);
  background-position: 0px -70px;
  background-size: 100% 100%;
  background-color: white;
  margin-top: -115px;
  padding-top: 215px;
  /*button*/ }
  .shop-title {
    text-align: center;
    margin: 20px 0; }
    .shop-title_main {
      font-family: "PlayfairDisplay-Bold", sans-serif;
      font-size: 42px; }
  .shop-button {
    text-align: center; }

.catalog-item {
  position: relative;
  padding-bottom: 30px; }
  .catalog-item:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 160px;
    height: 250px;
    background-color: #EBEBEB; }

.catalog-img {
  position: relative;
  left: -25px;
  z-index: 2;
  max-height: 430px; }

/*text*/
.catalog-text {
  position: absolute;
  top: 200px;
  left: 130px;
  z-index: 5; }
  .catalog-text_title-type {
    font-size: 12px; }
  .catalog-text_title-name {
    font-family: "PlayfairDisplay-Regular", sans-serif;
    font-size: 26px; }
  .catalog-text_price {
    margin: 40px; }
    .catalog-text_price-item {
      color: #ce60a8;
      font-size: 20px; }
    .catalog-text_price-button {
      font-family: 'LeagueSpartan-Bold', sans-serif;
      font-size: 9px;
      background: inherit;
      border: none;
      letter-spacing: 5px;
      font-weight: 800; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .shop {
    padding: 20px 0;
    background: none;
    margin: 0; } }

/*ARTICLE - 1 or 1 and 2*/
.article-first, .article-second {
  padding: 50px 0;
  position: relative; }

/*aside text*/
.article-first-aside {
  font-family: 'LeagueSpartan-Bold', sans-serif;
  font-size: 9px;
  color: #0b0c11;
  letter-spacing: 4px;
  opacity: 0.2;
  transform: rotate(-90deg);
  transform-origin: right;
  position: absolute;
  top: 0;
  right: 0; }

/*img*/
.article-first_img {
  float: right; }

.article-title {
  font-size: 42px; }

/*main (title and number)*/
.article-main {
  position: relative; }

.article-number {
  font-family: "LeagueSpartan-Bold", sans-serif;
  font-size: 130px;
  color: #f9f9f9; }

.article-title {
  position: absolute;
  bottom: 35px; }

/*ARTICLE - 2*/
/*aside text*/
.article-second-aside {
  font-family: 'LeagueSpartan-Bold', sans-serif;
  font-size: 9px;
  color: #0b0c11;
  letter-spacing: 4px;
  opacity: 0.2;
  transform: rotate(-90deg);
  transform-origin: right;
  position: absolute;
  left: 85px; }

/*img*/
.article-second_img {
  position: absolute;
  top: 0;
  left: 200px; }

/*text*/
.article-second-text {
  float: right; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .article-first, .article-second {
    padding: 20px 0; }
  .article-first-text, .article-second-text {
    width: 100%;
    float: none;
    margin-bottom: 20px; }
  .article-first_img {
    width: 100%;
    float: none; }
  .article-first-aside, .article-second-aside {
    display: none; }
  .article-second_img {
    position: static;
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 922px) {
  .article-second_img {
    left: 150px; }
  .article-first-aside, .article-second-aside {
    display: none; } }

.subs {
  text-align: center;
  padding: 280px 0 150px 0;
  height: 600px;
  background-image: url(../img/subs-back.png);
  background-position: 0 -310px; }
  .subs-title {
    font-size: 42px; }
  .subs-text {
    font-family: "Poppins-Light", sans-serif;
    font-size: 14px;
    margin: 15px 0; }
  .subs-form {
    display: inline-block;
    position: relative; }

.form-email {
  border: none;
  background-color: #F5F5F5;
  width: 500px;
  height: 50px;
  padding: 0 50px 0 10px; }

::-webkit-input-placeholder {
  font-family: 'LeagueSpartan-Bold', sans-serif;
  font-size: 9px;
  letter-spacing: 5px; }

.form-button {
  background-color: #5DA8EF;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  top: 0;
  right: 0; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .form-email {
    width: 100%; }
  .subs {
    height: auto;
    padding: 40px 0;
    background-image: none; } }

@media only screen and (min-width: 768px) and (max-width: 922px) {
  .subs {
    background-position: -280px -321px;
    padding: 130px 0 150px 0; } }

.contact {
  padding-bottom: 50px; }
  .contact-text {
    padding: 30px 0 0 30px; }
    .contact-text_up {
      font-family: 'LeagueSpartan-Bold', sans-serif;
      font-size: 9px;
      color: #0b0c11;
      letter-spacing: 3px; }
    .contact-text_title {
      font-family: "PlayfairDisplay-Bold", sans-serif;
      font-size: 32px;
      margin: 20px; }
  .contact-button {
    color: #5da8ef;
    margin: 0; }

@media only screen and (max-width: 767px) {
  .contact-img {
    width: 100%; }
  .contact-text {
    text-align: center;
    width: 100%; } }

.footer {
  text-align: center; }

/*NAV*/
.footer-nav {
  font-family: 'LeagueSpartan-Bold', sans-serif;
  font-size: 9px;
  margin: 20px 0;
  letter-spacing: 5px; }

.nav-item + .nav-item {
  margin-left: 20px; }

/*footer-socials*/
.footer-social_item .tum {
  background-image: url("../img/tum-icon.png"); }

.footer-social_item .tw {
  background-image: url("../img/tw-icon.png"); }

.footer-social_item .vi {
  background-image: url("../img/vi-icon.png"); }

.footer-social_item {
  list-style: none;
  display: inline-block; }
  .footer-social_item a {
    background: no-repeat center center;
    width: 30px;
    height: 30px;
    display: block; }
