.shop {
  padding: 100px 0;
  background-image: url(../img/shop-back2.png);
  background-position: 0px -70px;
  background-size: 100% 100%;
  background-color: white;
  margin-top: -115px;
  padding-top: 215px;
  &-title {
    text-align: center;
    margin: 20px 0;
    &_text {
      @extend .banner-text_up;
    }
    &_main {
      font-family: "PlayfairDisplay-Bold", sans-serif;
      font-size: 42px;
    }
  }
  /*button*/
  &-button {
    text-align: center;
    &_item {
      @extend .media-text_button;
    }
  }
}
.catalog-item {
  position: relative;
  padding-bottom: 30px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 160px;
    height: 250px;
    background-color: #EBEBEB;
  }
}
.catalog-img {
  position: relative;
  left: -25px;
  z-index: 2;
  max-height: 430px;
}
/*text*/
.catalog-text {
  position: absolute;
  top: 200px;
  left: 130px;
  z-index: 5;

  &_title-type {
    font-size: 12px;
  }
  &_title-name {
    font-family: "PlayfairDisplay-Regular", sans-serif;
    font-size: 26px;
  }
  &_price {
    margin: 40px;
    &-item {
      color: #ce60a8;
      font-size: 20px;
    }
    &-button {
      font-family: 'LeagueSpartan-Bold', sans-serif;
      font-size: 9px;
      background: inherit;
      border: none;
      letter-spacing: 5px;
      font-weight: 800;
    }
  }
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .shop {
    padding: 20px 0;
    background:none;
    margin: 0;
  }
}