.subs {
  text-align: center;
  padding: 280px 0 150px 0;
  height: 600px;
  background-image: url(../img/subs-back.png);
  background-position: 0 -310px;
  &-title {
    font-size: 42px;
  }
  &-text {
    font-family: "Poppins-Light", sans-serif;
    font-size: 14px;
    margin: 15px 0;
  }
  &-form {
    display: inline-block;
    position: relative;
  }
}
.form-email {
  border: none;
  background-color: #F5F5F5;
  width: 500px;
  height: 50px;
  padding: 0 50px 0 10px;
}
::-webkit-input-placeholder {
  font-family: 'LeagueSpartan-Bold', sans-serif;
  font-size: 9px;
  letter-spacing: 5px;
}
.form-button {
  background-color: #5DA8EF;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  //form-email
  .form-email {
    width: 100%;
  }
  .subs {
    height: auto;
    padding: 40px 0;
    background-image: none;
  }
}
@media only screen and ( min-width: 768px ) and ( max-width: 922px ) {
  .subs {
    background-position: -280px -321px;
    padding: 130px 0 150px 0;
  }
}

